@font-face {
	font-family: 'Indie Flower';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Indie Flower'), local('IndieFlower'), url(IndieFlower-Regular.ttf) format('ttf');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

@font-face {
	font-family: 'Waiting for the Sunrise';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Waiting for the Sunrise'), local('WaitingfortheSunrise'), url(WaitingfortheSunrise-Regular.ttf) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

.title-page {
	text-align: center;
	page-break-before: left;
	page-break-after: left;
	color: darkblue;
	margin: 0;
}

.impressum {
	position: absolute;
	bottom: 2em;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	text-align: center;
	color: grey;
	zoom: 0.8;
}

.title-large {
	text-align: center;
	page-break-before: left;
	page-break-after: left;
	color: darkblue;
	margin: 0;
	zoom: 2;
}

.page-break-before {
	page-break-before: left;
	page-break-after: left;
}

img {
	width: 100% !important;
	height: auto !important;
}

._2064, ._202x, ._202y, ._202z, ._19xx {
	margin-top: -72px;
}

._2064 {
	color: rgba(125, 6, 223, 0.2);
}

._202x {
	color: rgba(226, 2, 70, 0.2);
}

._202y {
	color: rgba(67, 15, 209, 0.2);
}

._202z {
	color: rgba(2, 136, 85, 0.1);
}

._19xx {
	color: rgba(66, 54, 15, 0.1);
}

.year {
	font-size: 1.5em;
	zoom: 2.5;
	font-weight: bold;
	float: right;
}

.hr {
	margin-top: 0;
	margin-bottom: 2em;
	border-radius: 1em;
	height: 0.5em;
	clear: both;
}

._2064 hr {
	border: 0.16em solid rgba(125, 6, 223, 0.2);
}

._202x hr {
	border: 0.16em solid rgba(226, 2, 70, 0.2);
}

._202y hr {
	border: 0.16em solid rgba(67, 15, 209, 0.2);
}

._202z hr {
	border: 0.16em solid rgba(2, 136, 85, 0.1);
}

._19xx hr {
	border: 0.16em solid rgba(66, 54, 15, 0.1);
}

.infobox {
	background-color: rgb(223, 229, 243);
	border-radius: 0.5em;
	border: 0.12em solid rgb(136, 158, 247);
	color: black;
	display: block;
	margin: 1em 0;
	padding: 1em;
	font-family: "helvetica";
}

.reference {
	width: 1.5em;
	height: 1.5em;
    margin: 0;
    padding: 0;
}

.thought {
	background-color: #d0e2fc;
	color: darkblue;
	border-radius: 1.3em;
	border: 0.12em solid darkblue;
	padding: 1em;
	margin: 1em 0;
}

.newspaper {
	background-color: #b7b8bb;
	color: black;
	border-radius: 1.3em;
	border: 0.12em solid black;
	padding: 1em;
	margin: 1em 0;
}

.terminal {
	background-color: #222;
	color: rgb(180, 255, 180);
	padding: 1em;
	margin: 1em 0;
	font-family: 'Courier New';
	zoom: 0.82;
	text-align: left;
}

.handwritten {
	background-color: #f1f1f1;
	color: black;
	border-radius: 1.2em;
	border: 0.12em rgb(212, 212, 212);
	padding: 1em;
	margin: 1em 0;
	font-family: 'Indie Flower', cursive;
	font-size: 1.3em !important;
	text-align: left;
}

.thinking-mistake-orange {
	background-color: rgb(31, 21, 3);
	color: rgb(255, 143, 51);
	border-radius: 1.2em;
	border: 0.12em solid rgb(75, 38, 9);
	padding: 1em;
	margin: 1em 0;
	font-family: 'Waiting for the Sunrise';
	font-size: 1.3em !important;
	text-align: left;
}

.thinking-mistake-green {
	background-color: rgb(3, 31, 3);
	color: rgb(34, 255, 133);
	border-radius: 1.2em;
	border: 0.12em rgb(19, 9, 75);
	padding: 1em;
	margin: 1em 0;
	font-family: 'Waiting for the Sunrise';
	font-size: 1.3em !important;
	text-align: left;
}

.thinking-mistake-blue {
	background-color: rgb(3, 7, 31);
	color: rgb(143, 195, 255);
	border-radius: 1.2em;
	border: 0.12em rgb(75, 38, 9);
	padding: 1em;
	margin: 1em 0;
	font-family: 'Waiting for the Sunrise';
	font-size: 1.3em !important;
	text-align: left;
}	


.first-words {
	font-variant: small-caps;
}

ul {
	margin: 1em;
}

ol {
	margin: 1em;
}
